<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.smartnote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Notes.ChmOneOne"
            android:label="@string/chm101">
        </activity>

        <activity
            android:name=".Notes.ChmOneTwo"
            android:label="@string/chm102">
        </activity>

        <activity
            android:name=".Notes.PhyOneOne"
            android:label="@string/phy101">
        </activity>

        <activity
            android:name=".Notes.PhyOneTwo"
            android:label="@string/phy102">
        </activity>

        <activity
            android:name=".Notes.MthOneOne"
            android:label="@string/mth101">
        </activity>

        <activity
            android:name=".Notes.MthOneTwo"
            android:label="@string/mth102">
        </activity>

        <activity
            android:name=".Notes.MthTwoOne"
            android:label="@string/mth201">
        </activity>

        <activity
            android:name=".Notes.MthTwoTwo"
            android:label="@string/mth202">
        </activity>

        <activity
            android:name=".Notes.CscTwo"
            android:label="@string/csc201">
        </activity>

    </application>

</manifest>